.AppDashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__navbar {
    display: none;
    min-height: 64px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 32px;
  }

  &__mobile-navbar {
    display: flex;
    flex-direction: row;
  }

  &__mobile-screen-name {
    font-size: 18px;
    line-height: 48px;
    margin-left: 16px;
  }

  &__drawer-navlink {
    color: black;
    font-family: Roboto;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

    &--active {
      background-color: #8080801A;
    }
  }

  &__logout-btn {
    background-color: white;
    font-size: 16px;
    border: 0px;
  }

  &__content {
    flex: 1;
    background-color: #FDD90166;
  }
}

@media (min-width: 635px) {
  .AppDashboard__navbar {
    display: flex;
  }

  .AppDashboard__mobile-navbar {
    display: none;
  }
}