.AppLogin {
  &__grid-image {
    height: 100vh;
  }

  &__photo {
    height: 100vh;
    width: 50vw;
    object-fit: cover;
  }

  &__form-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 32px;
  }

  // styles for preview screens
  &__preview {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__preview-content {
    flex: 1;
    background-color: #FDD90166;
  }
}