.FormTemplate {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
    font-size: 44px;
  }

  &__app-icon {
    margin-left: 12px;
    height: 48px;
    width: 48px;
  }

  &__subtext {
    margin-top: 4px;
    font-size: 14px;
    color: #87878799;
  }

  &__form {
    margin-top: 48px;
    font-size: 20px;
  }

  &__form-label {
    margin-top: 40px;
    margin-bottom: 8px;
  }

  &__submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
  }
}