.Recipe {
  padding: 0px 12px 16px 12px;
  display: flex;
  flex-direction: column;

  &__back-btn-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0px;
    width: 332px;
    align-self: center;
    color: #0000008A;
  }

  &__edit-mode-padding-top {
    padding-top: 16px;
  }

  &__paper {
    margin: auto;
    padding: 16px;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__grid-item {
    max-width: 360px;
    margin-bottom: 24px;
  }

  &__recipe-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  };

  &__image {
    height: 190px;
    width: 300px;
    object-fit: cover;
  }

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 32px;
    font-weight: bold;
  }

  &__author-and-time-taken {
    margin-top: 8px;
  }

  &__time-taken {
    margin-top: 2px;
    color: #878787;
  }

  &__section {
    margin-top: 20px;
  }

  &__header {
    font-weight: bold;
    font-size: 18px;
  }

  &__no-items-list {
    font-size: 14px;
    color: #878787cc;
    margin-top: 12px;
    padding-left: 4px;
  }

  &__list-elements {
    padding-left: 28px;
  }

  &__ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__qty-unit {
      margin-left: 8px;
    }
  }

  &__action-buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 700px) {
  .Recipe {
    padding: 32px 16px;

    &__paper {
      padding: 24px;
    }
    
    &__back-btn-bar {
      display: none;
    }

    &__edit-mode-padding-top {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .Recipe {
    padding: 32px;

    &__grid-container {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    &__action-buttons {
      margin-top: 24px;
      margin-bottom: 4px;
    }
  }
}