.Favourites {
  padding: 24px;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  &__grid-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  &__no-fav-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000cc;
  }
}


@media (min-width: 680px) {
  .Favourites__grid {
    grid-template-columns: 1fr 1fr;
  }
  
}
@media (min-width: 992px) {
  .Favourites__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media (min-width: 1312px) {
  .Favourites__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 16px;
  }
  
}
@media (min-width: 1628px) {
  .Favourites__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1944px) {
  .Favourites__grid {
    grid-template-columns: repeat(6, 1fr);
  }
}