.NavbarGuest {
  &__container {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__navlink {
    text-decoration: none;
    color: #604E40;
    font-size: 18px;

    &--active {
      // border-bottom: 1px solid #604E4033;
      box-shadow: 0px 5px 5px -5px #604E40;
    }
  }
}